.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8vh;
  min-height: 40px;
  background-image: url('../assets/menu-texture.jpg');
  background-repeat: repeat;
  background-color: $menu-red-dark;
  z-index: 1000;
}

.menu-bar-shadow {
  -webkit-box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
  box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
}

.menu-left-area {
  display: table;
  float: left;
  height: 100%;
  margin-left: 10%;

  #menu-logo {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.menu-right-buttons {
  display: inline-block;
  float: right;
  padding-right: 20px;
  height: 100%;
}

.menu-items {
  list-style-type: none;
  text-align: center;
  height: 100%;
  margin: 0;

  a {
    position: relative;
    display: block;
    top: 20%;
    font-weight: bold;
    color: white;
    text-shadow: 0 0.5px 3px black;
  }

  a:hover {
    border-bottom: solid 2px;
  }

  li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 100%;
  }
}

.menu-items-selected {
  border-bottom: solid 2px;
}


// Tablet Size

@include breakpoint('tablet') {

  // Top Nav Bar

  .menu {
    height: 8vh;
  }

  .menu-left-area {
    #menu-logo {
      display: inline-block;
      max-width: 90%;
      left: 0;
      position: absolute;
    }
  }

  // Hamburger Icon

  .hamburger-icon {
    position: absolute;
    top: 0px;
    right: 0.5em;
    width: 12%;
    height: 100%;
    z-index: 2;
  }

  .hamburger-icon:before {
    content: "";
    position: absolute;
    top: 20%;
    right: 1em;
    width: 2em;
    height:.4em;
    border-top: 1em double white;
    border-bottom: 0.37em solid white;
  }

  .menu-right-buttons {
    display: block;
    float: none;
  }

  .menu-items {
    background-image: url('../assets/menu-texture.jpg');
    background-repeat: repeat;
    margin-bottom: 0;
    margin-top: 8vh;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left;
    position: fixed;
    width: 80%;
    padding: 0;
    box-shadow: rgba(0,0,0,0.09) 0 8px 8px;

    li {
      display: list-item;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 30px;
      height: initial;
    }

    a {
      margin-left: 20px;
      font-size: 2em;
      display: inline;
    }
  }

  .menu-slidedown, .menu-slideup {
    max-height: 0;
    -o-transition: max-height $slide-length ease-in-out;
    -ms-transition: max-height $slide-length ease-in-out;
    -moz-transition: max-height $slide-length ease-in-out;
    -webkit-transition: max-height $slide-length ease-in-out;
    transition: max-height $slide-length ease-in-out;
  }

  .menu-slidedown {
    max-height: 500px;
  }

  .menu-items-selected {
    border-bottom: solid 5px;
  }

  .menu-items {
    a:hover {
      border-bottom: none;
    }
  }
}
