$font-stack: Helvetica, sans-serif;
$menu-red: #932727;
$menu-red-dark: #810515;
$primary-red: #774553;
$trans-length: 0.5s;
$slide-length: 0.3s;
$content-width: 75%;

@mixin breakpoint($size) {
  @if $size == "mobile" {
    @media (max-width: 640px) {
      @content;
    }
  }
  @else if $size == "tablet" {
    @media (max-width: 991px) {
      @content;
    }
  }
  @else if $size == "widescreen" {
    @media (max-width: 1280px) {
      @content;
    }
  }
}
