@font-face {
  font-family: lato-regular;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: lato-bold;
  src: url('../assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: open-sans-regular;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: open-sans-semibold;
  src: url('../assets/fonts/OpenSans-Semibold.ttf');
}

$font-stack: open-sans-regular, lato-regular, Helvetica, sans-serif;
$menu-font: open-sans-semibold, lato-bold, Helvetica, sans-serif;
$menu-red: #932727;
$menu-red-dark: #810515;
$primary-red: #774553;
$trans-length: 0.5s;
$slide-length: 0.3s;
$content-width: 75%;

@mixin breakpoint($size) {
  @if $size == "mobile" {
    @media (max-width: 640px) {
      @content;
    }
  }
  @else if $size == "tablet" {
    @media (max-width: 991px) {
      @content;
    }
  }
  @else if $size == "widescreen" {
    @media (max-width: 1280px) {
      @content;
    }
  }
}
