@import 'settings';
@import 'hero';
@import 'menu';
@import 'images';
@import 'contact';
@import 'slider-pro';

body {
  font-family: $font-stack;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding:0;
  margin:0;
}

a {
  color: black;
  text-decoration: none;
}

// Content Wrapper

.content-wrapper {
  width: 100%;
  height: 100%;

  h1, h2, h3, h4, h5, h6, p {
    color: $primary-red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: $content-width;
    line-height: 1.5;
  }

  p {
    color: initial;
    text-align: justify;
    margin-top: 2em;
    line-height: 2;
  }
}

// Tablet Size

@include breakpoint('tablet') {

  .content-wrapper {
    top: 8%;

    h1, h2, h3, h4, h5, h6, p {
      width: 88%;
    }

    h1 {
      font-size: 3em;
      text-align: justify;
    }

    p {
      font-size: 1.5em;
    }
  }
}

//TODO: Refactor into separate scss file and extend contact form
.backer-content {
  @extend .content-wrapper;
  display: none;
}

.password-form {
  margin: 300px auto 0 auto;
  max-width: 50%;

  #password-field {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 15px;
    border: solid 1px grey;
    padding: 5px;
  }

  .password-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    background-color: $menu-red-dark;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
