.hero {
  height: 100%;
  width: 100%;
}

// TODO: If contact-hero-image = base, refactor to hero-image
.contact-hero-image {
  min-height: 80%;
  background-image: url('../assets/contact-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-hero-image {
  @extend .contact-hero-image;
  background-image: url('../assets/tashi.jpg');
}

.behind-hero-image {
  @extend .contact-hero-image;
  background-image: url('../assets/ashi-kesang.jpg');
}

.landing-background {
  width: 100%;
  display: block;
  margin: 50px auto 0px auto;
  background-image: url('../assets/silkframe.png');
  background-size: 890px;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-video{
  margin: auto;
  display: block;
  height: 600px;
  overflow: hidden;
}

@include breakpoint('mobile') {
  .landing-video{
    width: 100%;
    height: 100%;
  }
}

@include breakpoint('table') {
  .hero {
    top: 8%;
  }

  .contact-hero-image {
    padding-top: 14em;
    padding-bottom: 14em;
    min-height: 10%;
  }
}
