.hero {
  height: 900px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//TODO: Resize video files
.landing-video{
  margin: 175px auto 0px auto;
  display: block;
  height: 500px;
  overflow: hidden;
}

.video_contain {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 600px;
}

.inside-the-workshop-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
}

// TODO: If contact-hero-image = base, refactor to hero-image
.contact-hero-image {
  @extend .hero;
  background-image: url('../assets/contact-hero.jpg');
}

.about-hero-image {
  @extend .contact-hero-image;
  background-image: url('../assets/tashi.jpg');
}

.behind-hero-image {
  @extend .contact-hero-image;
  background-image: url('../assets/ashi-kesang.jpg');
}

.landing-hero-image {
  @extend .hero;
  position: absolute;
  top: -150px;
  z-index: 10;
  background-image: url('../assets/silkframe-cropped.png');
  background-size: auto !important;
}

@include breakpoint('table') {
  .hero {
    top: 8%;
  }

  .contact-hero-image {
    padding-top: 14em;
    padding-bottom: 14em;
    min-height: 10%;
  }
}
