@import 'settings';
@import 'hero';
@import 'menu';

body {
  font-family: $font-stack;
  overflow-y: scroll;
}

a {
  color: black;
  text-decoration: none;
}

// Content Wrapper

.content-wrapper {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  height: 100%;

  h1, h2, h3, h4, h5, h6, p {
    color: $primary-red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: $content-width;
    line-height: 1.5;
  }

  p {
    color: initial;
    text-align: justify;
    margin-top: 2em;
    line-height: 2;
  }

  .image-row {
    img {
      width: 100vw;
    }
  }
}

// Tablet Size

@include breakpoint('tablet') {

  .content-wrapper {
    top: 8%;

    h1, h2, h3, h4, h5, h6, p {
      width: 88%;
    }

    h1 {
      font-size: 3em;
      text-align: justify;
    }

    p {
      font-size: 2.5em;
    }
  }
}
